body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: white;
}

.menu-container{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.fi-icon{
	position: absolute;
	z-index: 1;
	margin-left: 50%;
	top:0.5vh;
	color: white;
}

.checkbox{
	position: absolute;
	height: 45px;
	width: 45px;
	cursor: pointer;
	z-index: 2;
	opacity:0;
}

.container{
	height: 65px;
	width: 65px;
	background-color:transparent;
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
    transition: 0.5s;

}

.hamburger{
    position: relative;
	height: 2px;
	width: 25%;
	background-color: white;
	transition: all .5s ease;
}

.hamburger:before{
	position: absolute; 
	content: '';
	height: 2px;
	width: 200%;
	background-color: white;
	top:-8px;
}

.hamburger:after{
	position: absolute; 
	content: '';
	height: 2px;
	width: 50%;
	background-color: white;
	top:8px;
}

.checkbox:checked + .container .hamburger{
	transform: rotate(135deg);
	width: 50%;
	
}

.checkbox:checked + .container .hamburger:before,
.checkbox:checked + .container .hamburger:after{
	transform: rotate(90deg);
	top: 0;
	width: 100%;
}


.checkbox:checked:hover + .container .hamburger{
	transform: rotate(315deg);
}

.list{
	background-color: rgba(0,0,0,0.7);
	position:fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25%;
	visibility: hidden;
	transform: scale(0);
	transition: 0.5s;
	z-index: 0;	
	
}

.checkbox:checked ~ .list{
	visibility: visible;
	transform: scale(1);
	border-radius: 0%;
}
.list ul li{
	list-style: none;
    margin: 1.5rem;
    font-size: 3em;
    font-family: sans-serif;
   
}

.list ul li a{
	text-decoration: none;
	color: white;
}

.list ul li a:hover{
	text-decoration: underline;
	color: white;
}

.css-flex-warp-box{
    display: flex;
	justify-content: space-around;
	align-items:center;
	flex-wrap: wrap;
    
}

.css-projects{
	width: 300px;
	height: 300px;
	background: url(css-icon.jpg);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
	display: flex;
	align-items: center;
    cursor: pointer;
}


.css-projects:hover{
	width: 310px;
	height: 310px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monospace;
    font-size: 35px;
}

.css-flex-warp-box{
	display: flex;
	justify-content: space-around;
	align-items:center;
	flex-wrap: wrap;
    
}

.css-project1-source-code{
	width: 300px;
	height: 300px;
	background: url(css-project1-img.png);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
    box-shadow: 0 0 20px black;
    
}


.css-project1-source-code:hover{
	width: 310px;
}


.css-project1-source-code div{
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top:150px;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.7);
}

.css-project1-source-code div:hover{
	height: 50%;
}

.css-project1-source-code div button{
	margin-left:40%;
	margin-top:65px;
	height: 30px;
	width:60px;
	font-family: monospace;
	font-size: 15px;
	box-shadow: 0 0 10px green;
	background-color: #207B04;
	color:white;
	border-color: #207B04;
	border-radius: 3px;
	cursor:pointer;
}



.css-project2-source-code{
	width: 300px;
	height: 300px;
	background: url(css-project2-img.png);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
    box-shadow: 0 0 20px black;
    
}


.css-project2-source-code:hover{
	width: 310px;
}


.css-project2-source-code div{
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top:150px;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.7);
}

.css-project2-source-code div:hover{
	height: 50%;
}

.css-project2-source-code div button{
	margin-left:40%;
	margin-top:65px;
	height: 30px;
	width:60px;
	font-family: monospace;
	font-size: 15px;
	box-shadow: 0 0 10px green;
	background-color: #207B04;
	color:white;
	border-color: #207B04;
	border-radius: 3px;
	cursor:pointer;
}

.css-project3-source-code{
	width: 300px;
	height: 300px;
	background: url(css-project3-img.png);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
    box-shadow: 0 0 20px black;
    
}


.css-project3-source-code:hover{
	width: 310px;
}


.css-project3-source-code div{
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top:150px;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.7);
}

.css-project3-source-code div:hover{
	height: 50%;
}

.css-project3-source-code div button{
	margin-left:40%;
	margin-top:65px;
	height: 40px;
	width:100px;
	font-family: monospace;
	font-size: 15px;
	box-shadow: 0 0 10px green;
	background-color: #207B04;
	color:white;
	border-color: #207B04;
	border-radius: 3px;
	cursor:pointer;
}

.css-project4-source-code{
	width: 300px;
	height: 300px;
	background: url(css-project4-img.png);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
    box-shadow: 0 0 20px black;
    
}


.css-project4-source-code:hover{
	width: 310px;
}


.css-project4-source-code div{
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top:150px;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.7);
}

.css-project4-source-code div:hover{
	height: 50%;
}

.css-project4-source-code div button{
	margin-left:40%;
	margin-top:65px;
	height: 40px;
	width:100px;
	font-family: monospace;
	font-size: 15px;
	box-shadow: 0 0 10px green;
	background-color: #207B04;
	color:white;
	border-color: #207B04;
	border-radius: 3px;
	cursor:pointer;
}

.css-project5-source-code{
	width: 300px;
	height: 300px;
	background: url(css-project5-img.png);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
    box-shadow: 0 0 20px black;
    
}


.css-project5-source-code:hover{
	width: 310px;
}


.css-project5-source-code div{
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top:150px;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.7);
}

.css-project5-source-code div:hover{
	height: 50%;
}

.css-project5-source-code div button{
	margin-left:40%;
	margin-top:65px;
	height: 40px;
	width:100px;
	font-family: monospace;
	font-size: 15px;
	box-shadow: 0 0 10px green;
	background-color: #207B04;
	color:white;
	border-color: #207B04;
	border-radius: 3px;
	cursor:pointer;
}

.css-project6-source-code{
	width: 300px;
	height: 300px;
	background: url(smile-cube.png);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
    box-shadow: 0 0 20px black;
    
}


.css-project6-source-code:hover{
	width: 310px;
}


.css-project6-source-code div{
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top:150px;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.7);
}

.css-project6-source-code div:hover{
	height: 50%;
}

.css-project6-source-code div button{
	margin-left:40%;
	margin-top:65px;
	height: 40px;
	width:100px;
	font-family: monospace;
	font-size: 15px;
	box-shadow: 0 0 10px green;
	background-color: #207B04;
	color:white;
	border-color: #207B04;
	border-radius: 3px;
	cursor:pointer;
}

.css-project7-source-code{
	width: 300px;
	height: 300px;
	background: url(css-project7-img.png);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
    box-shadow: 0 0 20px black;
    
}


.css-project7-source-code:hover{
	width: 310px;
}


.css-project7-source-code div{
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top:150px;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.7);
}

.css-project7-source-code div:hover{
	height: 50%;
}

.css-project7-source-code div button{
	margin-left:40%;
	margin-top:65px;
	height: 40px;
	width:100px;
	font-family: monospace;
	font-size: 15px;
	box-shadow: 0 0 10px green;
	background-color: #207B04;
	color:white;
	border-color: #207B04;
	border-radius: 3px;
	cursor:pointer;
}

.css-project8-source-code{
	width: 300px;
	height: 300px;
	background-color: rgba(0,0,0,.8);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
	display: flex;
	align-items: center;
	box-shadow: 0 0 20px black;
}

.css-project8-source-code ul li{
	list-style: none;
	font-size: 2em;
	margin-left: 70px;
    font-family: sans-serif;
    color: white;
}

.css-project8-source-code:hover{
	width: 310px;
}

.css-project9-source-code{
	width: 300px;
	height: 300px;
	background-color: rgba(0,0,0,.8);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
	display: flex;
	align-items: center;
	box-shadow: 0 0 20px black;
}

.css-project9-source-code ul li{
	list-style: none;
	font-size: 2em;
	margin-left: 70px;
    font-family: sans-serif;
    color: white;
}

.css-project9-source-code:hover{
	width: 310px;
}

.css-project10-source-code{
	width: 300px;
	height: 300px;
	background-color: rgba(0,0,0,.8);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
	display: flex;
	align-items: center;
	box-shadow: 0 0 20px black;
}

.css-project10-source-code ul li{
	list-style: none;
	font-size: 2em;
	margin-left: 70px;
    font-family: sans-serif;
    color: white;
}

.css-project10-source-code:hover{
	width: 310px;
}

.css-project11-source-code{
	width: 300px;
	height: 300px;
	background-color: rgba(0,0,0,0.8);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
	display: flex;
	align-items: center;
	box-shadow: 0 0 20px black;
}

.css-project11-source-code ul li{
	list-style: none;
	font-size: 2em;
	margin-left: 70px;
    font-family: sans-serif;
    color: white;
}

.css-project11-source-code:hover{
	width: 310px;
}

.css-project12-source-code{
	width: 300px;
	height: 300px;
	background-color: rgba(0,0,0,0.8);
	border-radius:25px;
	margin-top:25px;
	transition: 0.5s;
	display: flex;
	align-items: center;
	box-shadow: 0 0 20px black;
}

.css-project12-source-code ul li{
	list-style: none;
	font-size: 2em;
	margin-left: 70px;
    font-family: sans-serif;
    color: white;
}

.css-project12-source-code:hover{
	width: 310px;
}