*{
	margin: 0;
	padding: 0; 
	background-color: #000000;
}
.parent{
	display: flex;
	align-items:center;
	margin-top:25vh;
	flex-direction: row;
	justify-content: space-around;

}
.box1{

	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
    transition: 1s;

}

.box2{

	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	transition: 1s;

}



.box3{
    color: white;
	border-radius: 25px;
	width: 8px;
	height: 200px;
	background-color: white;
	transition: 1s;
}

.box4{
	

	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	transition: 1s;

}


.box5{
	

	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	transition: 1s;

}


.Orange:checked ~  .parent .box5{

	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 30px 10px orange,
	            0 0 40px 10px orange,
	            0 0 50px 10px orange,
	            0 0 60px 10px orange;
}

.yellow:checked ~  .parent .box3{
	
	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 30px 10px yellow,
	            0 0 40px 10px yellow,
	            0 0 50px 10px yellow,
	            0 0 60px 5px yellow;
}

.Red:checked ~  .parent .box1{

	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 30px 10px #ff3a4b,
	            0 0 40px 10px #ff3a4b,
	            0 0 50px 10px #ff3a4b,
	            0 0 60px 5px #ff3a4b;
}

.Blue:checked ~  .parent .box4{


	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 30px 10px blue,
	            0 0 40px 10px blue,
	            0 0 50px 10px blue,
	            0 0 60px 5px blue;
}

.Green:checked ~  .parent .box2{
	

	width: 8px;
	height: 200px;
	background-color: white;
	border-radius: 25px;
	box-shadow: 0 0 30px 10px green,
	            0 0 40px 10px green,
	            0 0 50px 10px green,
	            0 0 60px 5px green;
}

.color{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: white;
	font-size: 25px;
}

.Red{
      margin-left: 43vw;
	}
.Green{
    margin-left: 2vw;
}
.yellow{
    margin-left: 2vw;
	}
.Blue{
    margin-left: 2vw; 
	}
.Orange{
    margin-left: 2vw;
	}


.color{
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}