body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.parent{
	width: 100px;
	height: 100px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: parent 2s infinite alternate ;
}

@keyframes parent{
	0%{
		transform: translateX(-50px);
	}

	50%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(50px);
	}
}
.cube
{

	background-color: #00fff9;
    width:  70px;
    height: 70px;
    box-shadow: 0 0 10px #fff9,
                0 0 20px #fff9,
                0 0 30px #00fff9;
    animation: rotate 1s  infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: cube 2s infinite alternate;
}


@keyframes cube{
	
0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(180deg);
	}
}

.rotate{

    background-color: transparent;
    width: 60px;
    height: 60px;
    animation: rotate 1s infinite linear alternate;
}

@keyframes rotate{

	0%{    
		   width: 60px;
           height: 60px;
	}

    100%{
		   width: 0;
           height: 0;
    }
}

.fi-icon{
	
	animation: fi-icon 1.5s infinite alternate;
}

@keyframes fi-icon{
    0%{
    	transform: rotate(0deg);
    }
    
    50%{
    	transform: rotate(-90deg);
    }

    100%{
    	transform: rotate(-180deg);
    }
}